@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 20s linear infinite;
}

.translate-cursor {
  transform: translate(-50%, -50%);
}
